################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PdfFilePasser.Aspire/PdfFilePasser.Aspire.AppHost/bin/Debug/net10.0
/PdfFilePasser.Aspire/PdfFilePasser.Aspire.AppHost/obj
/PdfFilePasser.Aspire/PdfFilePasser.Aspire.ServiceDefaults/bin/Debug/net10.0
/PdfFilePasser.Aspire/PdfFilePasser.Aspire.ServiceDefaults/obj
/.vs
